body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.upload-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px 0;
}

.upload-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drop-area {
    width: 250px;
    height: 150px;
    border: 2px dashed #007bff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 10px;
}

.drop-area:hover {
    background-color: #f0f0f0;
}

.input-pair {
    display: flex;
    gap: 10px;
    margin: 5px 0;
}

.input-box {
    width: 110px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.submit-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.output-box{
    width: 110px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}
.pairup{
    flex-direction: column;
}
.submit-button:hover {
    background-color: #0056b3;
}
